:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #616161;
    --primary-color: #f53f2d;
    --secondary-color: #919191;

    --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.px-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.px-24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.px-32 {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.py-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pl-16 {
    padding-left: 16px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.ml-16 {
    margin-left: 16px !important;
}

.text-primary {
    color: var(--primary-color);
}
.text-secondary {
    color: var(--secondary-color);
}
.text-bold {
    font-weight: 500 !important;
}

/* Button style */
.btn {
    height: 36px;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 1.4rem;
    background: none;
    color: var(--text-color);
}

.btn:hover {
    background: #f7f8f9;
}

.btn.btn--primary {
    color: var(--white-color);
    background: var(--primary-color);
}

/* Set up for responsive design */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

.grid__col-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: 16.6667%;
}

.grid__col-2-4 {
    padding-left: 6px;
    padding-right: 6px;
    width: 20%;
}


.grid__col-10 {
    padding-left: 6px;
    padding-right: 6px;
    width: 83.3334%;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}