.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6232, #f53f2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
}

.navbar__item {
    display: inline;
    padding: 0 8px;
    position: relative;
}

.navbar__item-connect,
.navbar__item-link {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--white-color);
}

.navbar__item-link:hover {
    color: rgba(255, 255, 255, .8);
}

.navbar__item--separate + .navbar__item--separate {
    border-left: 1px solid #FB9086;
}

.navbar__item-icon {
    margin-left: 8px;
} 

/* Navbar QR code download app */
.navbar__QR {
    position: absolute;
    top: 250%;
    left: -50%;
    width: 192px;
    padding: 4px;
    border-radius: 2px;
    background: var(--white-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    animation: fadeIn ease .4s;
    display: none;
}

.navbar__QR::after {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    top: -10%;
    left: 0;
    display: block;
}

.navbar__QR-img {
    width: 100%;
}

.navbar__download {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 4px;
}

.navbar__download-img {
    height: 17px;
}

.navbar__item--showQR:hover
 .navbar__QR {
    display: block;
}

/* Navbar Notification */
.navbar__notify {
    position: absolute;
    top: 250%;
    right: 0;
    width: 420px;
    border-radius: 2px;
    background: var(--white-color);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* border: 1px solid black; */
}

.navbar__notify-header {
    padding: 0 12px;
    color: #919191;
}

.navbar__notify-header,
.navbar__notify-footer {
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
}

.navbar__notify-list {
    padding: 0;
}

.navbar__notify-item {
    /* height: 80px;
    max-height: 80px; */
}

.navbar__notify-link {
    display: flex;
    padding: 4px 12px;
    background: rgba(255, 206, 179, 0.4);
}

.navbar__notify-link--read {
    background: var(--white-color);
}

.navbar__notify-link:hover {
    background: #f5f5f5;
}

.navbar__notify-img {
    width: 48px;
    margin-right: 12px;
}

.navbar__notify-heading {
    margin: 6px 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
}

.navbar__notify-desc {
    margin-bottom: 4px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #616161;
}

.navbar__notify-footer-text {
    color: #616161;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.navbar__notify-footer-text:hover {
    background: #fafafa;
}